@media only screen and (min-width: 768px) {
    .body {display: flexbox;}
    .about {float: left;}
    .about {justify-content: space-evenly;}
    .about {display: flexbox;}
  }  


body {
    font-family: Bungee;
}

.topnav ul {
    list-style-type: none;
}
li {
    display: inline;
}

.topnav a {
    text-decoration: none;
    float: right;
    text-align: right;
    color: #7944e6;
    padding: 14px 16px;
}

#logo {
    height: 300px;
    width: 300px;
}

.topnav a:hover {
    color: #10fdff;

}

#about {
    margin: auto;
    height: 1000px;
    width: 95%;
    border: none;
    background-color: #ff00ff;
    font-size: 2.0em;
}

#about2 {
    float: left;
}

.menu_nav {}

.menu_nav a{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.menu_nav a:hover{
    color: #10fdff;
}

#coffee_menu {
    font-size: 4em;
    text-align: center;
    border: solid;
    border-width: 10px;
    border-color: #7944e6;
}

#cream_menu {
    font-size: 4em;
    text-align: center;
    border: solid;
    border-width: 10px;
    border-color: #7944e6;
}

#cookies_menu {
    font-size: 4em;
    text-align: center;
    border: solid;
    border-width: 10px;
    border-color: #7944e6;
}

.button {
    background-color: white;
    color: #7944e6;

}

.view-menu {
    color:#7944e6;
}